@import "reset.css";

@font-face {
  font-family: "BMJUA";
  src: url(../font/BMJUA_otf.otf);
}
@font-face {
  font-family: "cooper";
  src: url(../font/CooperBlackStd.otf);
}

body {
  /* max-width: 767px; */
  width: 100%;
  font-family: BMJUA;
  text-align: center;
  /* padding: 0 5%; */
  overflow: hidden;
}

h1 {
  font-family: cooper;
  font-size: 2em;
  color: #f44647;
  padding: 40px 0;
}

a {
  color: #f44647;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  border: 1px solid #f44647;
  width: 90%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}

a {
  /* background-color: blue; */
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.listWrap span {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

#map {
  margin: 0 auto;
}

img {
  scale: 1;
}

.map {
  padding: 20px 0;
  color: #f44647;
  margin: 10px auto;

  width: 300px;
}
h2 {
  margin-bottom: 10px;
}
.map > span {
  color: #777;
  line-height: 1.5;
}
