@import "reset.css";

@font-face {
  font-family: "BMJUA";
  src: url(../font/BMJUA_otf.otf);
}

body {
  max-width: 767px;
  font-family: BMJUA;
  background: #ffb3b3;
}

a {
  color: white;
}

main {
  /* border-radius: 44px;
  box-shadow: 12px 12px 39px #b57f7f, -12px -12px 39px #ffe7e7; */
  width: 90vw;
  height: 90vh;
  display: block;
  margin: 30px auto;
  padding: 10px 15px;
  box-sizing: border-box;
  text-align: center;
}

.sns {
  margin-top: 60px;
}
.sns > li {
  display: flex;
  border-bottom: 2px solid white;
  margin-bottom: 30px;
  padding-bottom: 20px;
  justify-content: space-between;
  border-radius: 44px;
  background: linear-gradient(145deg, #e6a1a1, #ffc0c0);
  box-shadow: 12px 12px 58px #cc8f8f, -12px -12px 58px #ffd7d7;
  padding: 20px;
  position: relative;
}

.sns > li > a {
  /* background-color: teal; */
  padding-right: 60%;
}
.sns > li:hover {
  border-radius: 44px;
  background: #ffb3b3;
  box-shadow: inset 12px 12px 39px #b57f7f, inset -12px -12px 39px #ffe7e7;
}

.sns img {
  padding: 10px;
  border-radius: 15px;
  opacity: 0.8;
}

.sns > li > a > span {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
}
