@import "reset.css";

@font-face {
  font-family: "BMJUA";
  src: url(../font/BMJUA_otf.otf);
}
@font-face {
  font-family: "cooper";
  src: url(../font/CooperBlackStd.otf);
}

body {
  max-width: 767px;
  font-family: BMJUA;
  text-align: center;
}

h1 {
  font-family: cooper;
  font-size: 2em;
  color: #f44647;
  padding: 40px 0;
}

a {
  color: #f44647;
  text-decoration: none;
}

li {
  border: 1px solid #f44647;
  width: 90%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

a {
  /* background-color: blue; */
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  margin: 20px;
}

span {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
